@import "./reset.scss";
@import "./fonts.scss";

body {
  box-sizing: border-box;
}

p, figcaption {
  font-family: "Source Sans Pro";
}

.container {
  width: 80%;
  margin: 0 auto;
}

.prewie {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 50px;
  height: 500px;
  background: url("../img/brest-approve.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -145px;

  .prewieTitle {
    background-color: rgba(0, 0, 0, 0.7);
    width: 650px;
    color: #fff;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    position: relative;

    h2 {
      margin: 20px;
    }
  }

  .prewieTitle::before {
    top: 140px;
    left: 51px;
  }

  .prewieTitle::after {
    bottom: 140px;
    right: 51px;
  }
}

.prewieTitle::before,
.prewieTitle::after,
.stack span::before,
.stack span::after,
.title span::before,
.title span::after,
.toolsInfo span::before,
.toolsInfo span::after,
.projectsInfo span::before,
.projectsInfo span::after {
  content: " ";
  width: 150px;
  height: 5px;
  background-color: #ffc000;
  position: absolute;
}

.competenceContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.competenceItem {
  width: 50%;
  padding: 20px 50px;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: space-between;

  img {
    align-self: center;
    margin: 20px;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 900;
    position: relative;
    color: #000000;
    text-align: center;
    margin: 20px;
    font-family: "Museo Sans";
  }

  p {
    font-style: 1rem;
    text-align: justify;
  }

  &:nth-child(2) {
    border-right: 2px solid #ffc000;
    border-left: 2px solid #ffc000;
  }
}

.tools {
  display: flex;
  justify-content: space-between;

  .bgImage {
    filter: brightness(0.3);
  }

  .toolsInfo {
    width: 60%;
    position: relative;

    p {
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      position: absolute;
      top: 0;
    }

    .stack {
      background-color: #fff;
      padding: 20px;
      color: #000000;
    }

    .toolsLogo {
      display: flex;
      justify-content: center;
    }
  }
}

.bgImage {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
  }
}

.projects {
  display: flex;
  justify-content: space-between;
  background-color: #76cdd8;

  .bgImage {
    padding: 20px;

    img {
      width: 50%;
    }
  }

  .projectsInfo {
    width: 60%;
    position: relative;
    padding: 20px;
    margin: 0 auto;

    h2 {
      color: #fff;
    }

    .projectsWrapper {
      display: flex;
      justify-content: center;
    }
  }
}

h2 {
  font-family: "Museo Sans";
  margin: 50px auto;
}

.toolsInfo .stack h2,
.communities h2,
.toolsInfo h2,
.projectsInfo h2 {
  font-size: 2.5rem;
  text-align: center;
  width: 800px;
}

.title span{
  position: relative;
}

.stack span::before,
.title span::before,
.toolsInfo span::before,
.projectsInfo span::before {
  top: -5px;
  left: -125px;
}

.stack span::after,
.title span::after,
.toolsInfo span::after,
.projectsInfo span::after {
  bottom: -5px;
  right: -125px;
}

.stack img {
  width: 100%;
}

.communities .title,
.competence .title,
.events .title,
.joinUs .title {
  padding: 40px 0;
}

.communities {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/conf-long.png");
  padding-bottom: 100px;

  .communtiesWrapper {
    display: flex;
    justify-content: space-around;

    figure {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      img {
        width: 9rem;
      }

      figcaption {
        font-size: 1.5rem;
        margin: 15px 0;
        position: relative;
        width: 100%;
        text-align: left;
      }
    }
  }

  .title {
    margin-bottom: 50px;
  }

  .communtiesWrapper,
  .title {
    color: #fff;
  }

  .comunities-item {
    width: 300px;
    height: 200px;
    padding: 50px 20px;
    text-align: center;
    position: relative;
    background-color: rgba(204, 204, 204, 0.3);

    &:hover .communitiesItemDescription {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: justify;
    }

    &:first-of-type .communitiesItemDescription {
      background-color: rgba(118, 205, 216, 0.65);
    }

    &:nth-of-type(2) .communitiesItemDescription {
      background-color: rgba(127, 101, 22, 0.65);
    }

    &:last-of-type .communitiesItemDescription p {
      color: #000000;
    }

    &:last-child img {
      width: 14rem;
    }
  }

  .communitiesItemDescription {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;

    p {
      padding: 20px;
    }
  }
}

.communities figcaption::after,
.eventItem figcaption::after {
  content: " ";
  width: 50px;
  height: 5px;
  background: #ffc000;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.communtiesWrapper figure .events {
  text-align: center;
  color: #000000;
  padding: 40px 20px;
}

.events {
  padding-bottom: 100px;
}

.events h2,
.competence h2 {
  font-size: 2.5rem;
  position: relative;
  width: 500px;
  color: #000000;
  text-align: center;
}

.title p {
  font-size: 1.5rem;
  text-align: center;
}

.eventsList {
  display: flex;
  justify-content: space-around;

  .eventItem {
    width: 500px;
    padding: 20px;
    background-color: rgba(204, 204, 204, 0.3);
    text-align: justify;

    &:hover img {
      filter: none;
    }

    img {
      width: 100%;
      height: 350px;
      background-color: rgba(0, 0, 0, 0.7);
      filter: brightness(0.5);
    }
    figcaption {
      font-size: 1.5rem;
      margin: 15px 0;
      position: relative;
      width: 100%;
      text-align: left;
    }
  }
}

.joinUs {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../img/conf-big.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;

  .title {
    color: #ffffff;

    h2 {
      font-size: 48px;
      text-align: center;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 40px;
    width: 80%;

    img {
      width: 100%;

    }
    a:nth-child(3) img {
      width: 55%;
    }
  }
}
