@import "./reset.scss";
@import "./fonts.scss";
@import "./epam.scss";

main.content {
  margin-top: 24px;
}

.title {
  margin: 30px 0;
  h2 {
    font-size: 47px;
    font-weight: 500;
    text-align: center;
    span {
      position: relative;
    }
  }
  p {
  text-align: center;
  font-size: 27px;
 }

}
.prewie {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 50px;
  height: 600px;
  background: url("../img/brest-approve.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -145px;

  .prewieTitle {
    background-color: rgba(0, 0, 0, 0.7);
    width: 650px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    position: relative;

    h2 {
      font-size: 3vw;
      font-weight: 500;
    }
  }

  .prewieTitle::before {
    top: 140px;
    left: 51px;
  }

  .prewieTitle::after {
    bottom: 140px;
    right: 51px;
  }
}

.prewieTitle::before,
.prewieTitle::after {
  content: " ";
  width: 150px;
  height: 5px;
  background-color: #76cdd8;
  position: absolute;
}

.info {
  max-height: 300px;
  padding: 50px;
  .container {
    display: flex;
    justify-content: space-between;
  }

  .info-text-wrapper {
    width: 35%;
    h2 {
      text-align: left;
    }
    span {
      position: relative;
    }
    p {
      font-size: 1vw;
    }
  }

  .info-logo-wrapper {
    width: 56%;

    img {
      width: 135%;
    }
  }
}

.title span::before,
.title span::after {
  content: " ";
  width: 150px;
  height: 5px;
  background-color: #76cdd8;
  position: absolute;
}

.title span::before {
  left: -125px;
  top: -3px;
}
.title span::after  {
  right: -125px;
  bottom: -3px;
}

.activities {
  background-color: #f4f4f4;
  padding: 55px 0;
  h2 {
    text-align: left;
  }

  .activitiesWrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px;

    h3 {
      margin: 25px 0;
      font-size: 31px;
    }

    .leftItem {
      width: 35%;
    }

    .rightItem {
      margin-top: 213px;
      width: 58%;
    }

    p {
      font-size: 1vw;
    }
  }
}

.clients {
  background-image: url("../img/innovative.jpg");
  background-size: cover;
  background-color: rgba(0, 0 ,0, 0.7);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  color: #fff;

  .clientWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-flow: row wrap;

    .clientItem {
      width: 20%;
      margin: 20px;
    }
    img {
      width: 200px;
    }
  }
}

.tools {
  padding: 50px;
  background-color: #f4f4f4;
  .toolsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;

    .toolsItem {
      width: 16vw;
      height: 16vw;
      background-color: rgb(255, 255, 255);
      position: relative;
      flex: 1 1 auto;
      border-radius: 4px;
      margin: 0.5vw 1vw;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover img {
        transform: scale(1.3);
      }
    }
    img {
      width: 220px;
    }
  }
}

.communities {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/conf-long.png");
  padding-bottom: 100px;
  padding: 50px;

  .communtiesWrapper {
    display: flex;
    justify-content: space-around;

    figure {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;

      img {
        width: 9rem;
      }

      figcaption {
        font-size: 1.5rem;
        margin: 15px 0;
        position: relative;
        width: 100%;
        text-align: left;
      }
    }
  }

  .communtiesWrapper,
  .title {
    color: #fff;
  }

  .comunities-item {
    width: 16vw;
    height: 16vw;
    position: relative;
    flex: 1 1 auto;
    border-radius: 4px;
    margin: 0.5vw 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    position: relative;
    background-color: rgba(204, 204, 204, 0.3);

    &:hover .communitiesItemDescription {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: justify;
      background-color: rgba(118, 205, 216, 0.65);
    }
    &:last-child img {
      width: 14rem;
    }
  }

  .communitiesItemDescription {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;

    p {
      padding: 20px;
    }
  }
}

.communities figcaption::after,
.eventItem figcaption::after {
  content: " ";
  width: 50px;
  height: 5px;
  background: #76cdd8;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.communtiesWrapper figure .events {
  text-align: center;
  color: #000000;
  padding: 40px 20px;
}


.events {
  padding: 50px;

  .eventsList {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;

    .eventItem {
      width: 500px;
      padding: 20px;
      background-color: rgba(204, 204, 204, 0.3);
      text-align: justify;
      border-radius: 4px;

      &:hover img {
        filter: none;
      }

      img {
        width: 100%;
        height: 350px;
        background-color: rgba(0, 0, 0, 0.7);
        filter: brightness(0.5);
      }
      figcaption {
        font-size: 1.5rem;
        margin: 15px 0;
        position: relative;
        width: 100%;
        text-align: left;
      }
    }
  }
}


.cc__mission {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  width: 75vw;
}

.cc__mission-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #F4F4F4;
}

.cc__mission-logo {
  margin-right: 114px;
  margin-top: -85px;

  img {
    width: 100%;
  }
}

.cc__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #212529;
  padding: 0;
}

.cc__mission-text {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}
