@import "./reset.scss";
@import "./fonts.scss";
@import "./epam.scss";

main.content {
  margin-top: 24px;
}

h2 {
  font-weight: 700;
}

p {
  font-size: 1.5rem;
 }


.heading {
  padding: 25px 0;
  h2 {
    text-align: center;
  }
}

.title {
  margin: 40px 0;
  h2 {
    font-size: 47px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    span {
      position: relative;
    }
  }
  p {
  text-align: center;
  font-size: 27px;
 }

}
.prewie {
  display: flex;
  justify-content: center;
  background-color: #eee;
  padding: 50px;
  height: 420px;
  background: url("../img/brest-approve.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: 0 -125px;
  background-color: rgba(0, 0, 0, 0.7);

  .prewieTitle {
    width: 750px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 130px;
    position: relative;

    h2 {
      font-size: 3.5vw;
      font-weight: 500;
    }

    h2::before,
    h2::after {
      content: " ";
      width: 150px;
      height: 5px;
      background-color: #76cdd8;
      position: absolute;
    }

    h2::before {
      top: 50px;
      left: -50px;
    }

    h2::after {
      bottom: 50px;
      right: -50px;
    }
  }


}



.info {
  height: 300px;
  padding: 50px;
  .infoContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    max-width: 1920px;
  }

  .info-text-wrapper {
    width: 40%;
    height: inherit;
    display: flex;
    align-items: center;
    h2 {
      text-align: left;
    }
    span {
      position: relative;
    }
  }

  .info-logo-wrapper {
    width: 55%;

    img {
      width: 100%;
    }
  }
}

.title span::before,
.title span::after {
  content: " ";
  width: 150px;
  height: 5px;
  background-color: #76cdd8;
  position: absolute;
}

.title span::before {
  left: -125px;
  top: -3px;
}
.title span::after  {
  right: -125px;
  bottom: -3px;
}

.activities {
  background-color: #f4f4f4;
  padding: 55px 0;
  h2 {
    text-align: left;
  }


  .activitiesWrapper {

    margin: 50px 0;

    h3 {
      margin: 20px 0;
      font-size: 31px;
      font-weight: 600;
    }

    .leftItem {
      width: 40%;
    }

    .rightItem {
      display: flex;
      margin-top: 50px;
      justify-content: flex-start;
      align-items: baseline;

      .activityItem:first-child {
        width: 40%;
        margin-right: 70px;
      }

      .activityItem:last-child {
        width: 60%;
      }

      img {
        max-height: 50px;
      }
    }
  }
}

// .clients {
//   background-image: url("../img/innovative.jpg");
//   background-size: cover;
//   background-color: rgba(0, 0 ,0, 0.7);
//   background-blend-mode: multiply;
//   background-position: center;
//   background-repeat: no-repeat;
//   padding: 50px;
//   color: #fff;

//   .clientWrapper {
//     display: flex;
//     justify-content: space-between;
//     align-items: baseline;
//     flex-flow: row wrap;

//     .clientItem {
//       width: 20%;
//       margin: 20px;
//     }
//     img {
//       width: 200px;
//     }
//   }
// }
.clients {
  background-image: url("../img/innovative.jpg");
  background-size: cover;
  background-color: rgba(0, 0 ,0, 0.7);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  color: #fff;

  .title {
    margin-bottom: 0;
  }

  .clientWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    .clientItem {
      flex-basis: 15%;
      margin: 20px 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 7vw;

      &:nth-child(4),
      &:nth-child(5) {
        flex-basis: 38%;
      }

      img {
        width: 100%;
      }
    }


  }
}

.tools {
  padding: 50px;
  background-color: #f4f4f4;
  .toolsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;

    .toolsItem {
      width: 325px;
      height: 290px;
      background-color: rgb(255, 255, 255);
      position: relative;
      flex: 1 1 auto;
      border-radius: 4px;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover img {
        transform: scale(1.3);
      }

      &:first-child,
      &:last-child {
       width: 63%;
      }

      &:nth-child(3),  &:nth-child(4){
        width: 45%;
      }
    }
    img {
      width: 220px;
    }
  }
}

.communities {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/conf-long.png");
  padding-bottom: 100px;
  padding: 50px;

  .communtiesWrapper {
    display: flex;
    justify-content: space-around;

    figure {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;

      img {
        width: 9rem;
      }

      figcaption {
        font-size: 1.5rem;
        margin: 15px 0;
        position: relative;
        width: 100%;
        text-align: left;
        font-weight: 600;
      }
    }
  }

  .communtiesWrapper,
  .title {
    color: #fff;
  }

  .comunities-item {
    width: 325px;
    height: 350px;
    position: relative;
    flex: 1 1 auto;
    border-radius: 4px;
    margin: 0.5vw 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    position: relative;
    background-color: rgba(204, 204, 204, 0.3);

    &:hover .communitiesItemDescription {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: justify;
      background-color: rgba(118, 205, 216, 0.65);
    }
    &:last-child img {
      width: 14rem;
    }
  }

  .communitiesItemDescription {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;

    p {
      padding: 20px;
      font-size: 18px;
    }
  }
}

.communities figcaption::after,
.eventItem figcaption::after {
  content: " ";
  width: 50px;
  height: 5px;
  background: #76cdd8;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.communtiesWrapper figure .events {
  text-align: center;
  color: #000000;
  padding: 40px 20px;
}


.events {
  padding: 50px;

  .eventsList {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    max-width: 1920px;

    .eventItem {
      width: 500px;
      padding: 20px;
      background-color: rgba(204, 204, 204, 0.3);
      text-align: justify;
      border-radius: 4px;

      &:hover img {
        filter: none;
      }

      img {
        width: 100%;
        height: 350px;
        background-color: rgba(0, 0, 0, 0.7);
        filter: brightness(0.5);
      }
      figcaption {
        font-size: 1.5rem;
        margin: 15px 0;
        position: relative;
        width: 100%;
        text-align: left;
        font-weight: 600;
      }

      p {
        font-size: 18px;
      }
    }
  }
}


.cc__mission {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  width: 75vw;
}

.cc__mission-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #F4F4F4;
}

.cc__mission-logo {
  margin-right: 114px;
  margin-top: -85px;

  img {
    width: 100%;
  }
}

.cc__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #212529;
  padding: 0;
}

.cc__mission-text {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}
